/* Write your CSS here */
* {
  margin: 0px;
  font-family: 'Roboto';
}

.cowin-container {
  background-color: #161625;
  min-height: 100vh;
  background-size: cover;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 4px;
}

.logo {
  height: 30px;
  width: 30px;
  margin-right: 8px;
}

.logo-heading {
  color: #2cc6c6;
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
}

.logo-heading-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.heading {
  color: #ffffff;
  font-size: 20px;
  margin-top: 24px;
  font-weight: 500;
}

.error-img {
  height: 230px;
  width: 230px;
}

.error {
  font-size: 20px;
  color: #ffffff;
}

.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.load-container {
  text-align: center;
  margin-top: 170px;
}
